.general-welcome-page {
    position: relative;
    width: 1542px;
    height: 987px;
    background-image: url(./img/general-welcome-page.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .general-welcome-page .overlap-group {
    position: absolute;
    width: 1542px;
    height: 79px;
    top: 0;
    left: 0;
    background-image: url(./img/rectangle-18.svg);
    background-size: 100% 100%;
  }
  
  .general-welcome-page .text-wrapper {
    position: absolute;
    width: 229px;
    top: 16px;
    left: 657px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #acd0ca;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .general-welcome-page .overlap {
    position: absolute;
    width: 332px;
    height: 84px;
    top: 784px;
    left: 605px;
    background-color: #d9d9d9;
    border-radius: 20px;
  }
  
  .general-welcome-page .login-or-sign-up {
    position: absolute;
    width: 211px;
    height: 30px;
    top: 32px;
    left: 61px;
  }
  
  .general-welcome-page .div {
    position: absolute;
    width: 1049px;
    top: 436px;
    left: 247px;
    font-family: "Kaisei Decol-Regular", Helvetica;
    font-weight: 400;
    color: #acd0ca;
    font-size: 100px;
    letter-spacing: 0;
    line-height: normal;
  }

/* .box { */
    /* width: 332px; */
    /* height: 84px; */
/* } */
/*  */
/* .box .rectangle { */
    /* position: fixed; */
    /* width: 332px; */
    /* height: 84px; */
    /* top: 0; */
    /* left: 0; */
    /* background-color: #d9d9d9; */
    /* border-radius: 20px; */
/* } */
.box {
    width: 332px;
    height: 84px;
    text-align: center;
    align-items: center;
    
  }
  
  .box .rectangle {
    position: fixed;
    width: 332px;
    height: 84px;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
    border-radius: 20px;
  }

.label {
  flex: 1;
  padding: 5px;
  font-weight: bold;

}
.title {
  font-size: 30;
  font-weight:bold;
  text-align: center;
  font-family: "Georgia", serif;

}

.input-box {
  flex: 2;
  padding: 5px;
}
/*  */
/* .form-container { */
  /* display: flex; */
  /* flex-direction: column; */
  /* max-width: 300px; */
/* } */
/*  */
/* .form-group { */
  /* display: flex; */
/*    */
  /* align-items: center; */
  /* margin-bottom: 10px; */
/* } */

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
  width: 50%;
} 

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

.button-container{
  text-align: center;
  padding: 10px;
}

.center{
  text-align:center;
}

   /* Style the box with CSS */
   .box {
    width: 300px;
    border: 1px solid #999;
    padding: 10px;
    text-align: center;
}
/* Style the image */
.box img {
    max-width: 100%;
    height: auto;
}
ul li {
    text-align: left; /* Align text to the left within list items */
}
/* Add CSS styles to format the navigation bar */
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    text-align: center; 
}
ul.navbar li {
    display: inline;
}
ul.navbar li a {
    display: inline;
    color: white; /* Text color for the links */
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
}
ul.navbar li a:hover {
    background-color: darkred; /* Background color on hover */
} 

.p-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

.p-box {
  width: 332px;
  height: 84px;
  text-align: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  margin: auto; /* Center horizontally */
}

.p-box img {
  max-width: 100%;
  height: auto;
}
 
ul li {
  text-align: left; /* Align text to the left within list items */
}
/* Add CSS styles to format the navigation bar */
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
  text-align: center; 
}
ul.navbar li {
  display: inline;
}
ul.navbar li a {
  display: inline;
  color: white; /* Text color for the links */
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none;
}
ul.navbar li a:hover {
  background-color: darkred; /* Background color on hover */
}



a.button4{
	display:inline-block;
	padding:0.3em 1.2em;
	margin:0 0.1em 0.1em 0;
	border:0.16em solid rgba(255,255,255,0);
	border-radius:2em;
	box-sizing: border-box;
	text-decoration:none;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:300;
	color:#FFFFFF;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	text-align:center;
	transition: all 0.2s;
}

a.button4:hover{
	border-color: rgba(255,255,255,1);
}

@media all and (max-width:30em){
	a.button4{
		display:block;
		margin:0.1em auto;
	}
}