<!DOCTYPE html>
<html>
<head>
    <title>Labrats</title>
    <link rel="stylesheet" type="text/css" href="start.css">
</head>
<body>
    <div>
        <h1 class = "text-center">Welcome to Labrats!</h1>
        <p class = "text-center">This is our MVP.</p>
    </div>
    <div>
        <div class="centered-div">
            <!-- <a href="/login"> -->
            <form action="/login" method="GET">
                <button id="button">Register or Login</button>
            </form>
            
            </a>
        </div>
        <div class="centered-div" style="margin-top: 20px;">
            <form action="/aboutus">
            <button id="button">About Us</button>
            </form>
        </div>
    </div>    
</body>
</html>