<!DOCTYPE html>
<html lang="en">
<head>
    <title>Partiticipant Homepage</title>
    
        <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <ul class="navbar">
        <!-- <li><a href="templates/">Home</a></li> -->
        <li><a href="templates/participant">Profile</a></li>
        <li><a href="/search">Search</a></li>
    </ul>  
    <div class="center"> 
    <h2 class="title">Participant Homepage</h2>
    <p>participant view</p>
    </div>

    <body class="container">
    <div class="p-box">
        <a href="profile.html">
        <h3>Profile Information</h3>
        </a>
        <img src="https://cdn.pixabay.com/photo/2018/11/13/21/43/avatar-3814049_1280.png">
        <ul>
            <li><strong>Name:</strong> Jane Doe</li>
            <li><strong>Email:</strong> jane.doe@gmail.com</li>
            <li><strong>DOB:</strong> 01/01/2000</li>
        </ul>
    </div>
</body>
    

    <script>
        fetch('navbar.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('navbar-container').innerHTML = data;
            });
    </script>
</body>
</html>