{% extends "templates/layout.html" %}

{% block title %}
  Researcher Information
{% endblock %}

{% block main %}
    <h1>Enter your information</h1>

    <form action="/researcherinfo" method="POST">

        <div class="form-container"></div>

            <div class="form-group">
                <label class="label">What lab are you affiliated with?</label>
                <input class="input-box" name="lab_name" type="text" id="lab_name">
                <!-- <select name="lab" class="input-box" id="lab">
                    <option disabled selected value="">Select</option>
                    {% for lab in labs %}
                        <option>{{ lab[3] }}</option>
                    {% endfor %}
                </select> -->
                <label class="label">Tell us about your lab!</label>
                <input class="input-box" name="about_lab" type="text" id="about_lab">
            </div>

        </div>
        <button>Save Info</button>
        </form>

    {% endblock %}