<!DOCTYPE html>
<html lang="en">
<head>
    <title>search</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <ul class="navbar">
        <!-- <li><a href="/homepage">Home</a></li> -->
        <li><a href="/profile">Profile</a></li>
        <li><a href="/search">Search</a></li>
    </ul> 
    <div class="title">
    <h2>Search for Open Trials</h2>
    </div>
    <div class="center">
    <form id="searchForm" action="something" method="get">
        <input type="text" name="query" placeholder="Enter your search query">
        <button type="submit">Search</button>
    </form>
</div>


    <script>
        fetch('navbar.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('navbar-container').innerHTML = data;
            });
    </script>
    
</body>
</html>