<!DOCTYPE html>
<html lang="en">
<head>
    <title>search</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <ul class="navbar">
        <!-- <li><a href="/homepage">Home</a></li> -->
        <li><a href="/profile">Profile</a></li>
        <li><a href="/search">Search</a></li>
    </ul> 

    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th class="headers" scope="col">department</th>
                <th class="headers" scope="col">description</th>
                <th class="headers" scope="col">location</th>
                <th class="headers" scope="col">age_min</th>
                <th class="headers" scope="col">age_max</th>
                <th class="headers" scope="col">sex</th>
                <th class="headers" scope="col">drink</th>
                <th class="headers" scope="col">smoke</th>
                <th class="headers" scope="col">diseases</th>
            </tr>
        </thead>
        <tbody>
            <!-- Jinjja table goes through the entries table and prints out the username, song name, artist name, entry, and time of an entry if the user made it public. The username and entry are links so they can be clicked on  -->
            {% for row in saved_trials %}
                    <tr>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                        <td>{{ row[7] }}</td>
                        <td>{{ row[8] }}</td>
                        <td>{{ row[9] }}</td>
                        <td>{{ row[10] }}</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>