<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
    <div class="general-welcome-page">
      <div class="overlap-group"><div class="text-wrapper">General Page</div></div>
      <!-- <div class="overlap"><img class="login-or-sign-up" src="img/login-or-sign-up.png" /></div> -->
      <div class="div">Welcome to Lab Rats</div>
      <div class="box">
        <div class="rectangle" onclick="buttonClicked()">
        <div class="button-content">Login or Register</div>
    </div>
    </div>
</div>
</div>
  <script>
    function buttonClicked() {
        window.location.href = '/templates/login.html';
    }
  </script>
  </body>
</html>