{% extends "templates/layout.html" %}

{% block title %}
  Researcher Information
{% endblock %}

{% block main %}
    <h1>Enter your information</h1>

    <form action="/researcherinfo" method="POST">

        <div class="form-container"></div>

            <div class="form-group">
                <label class="label">What lab are you affiliated with?</label>
                <select name="lab" class="input-box" id="lab">
                    <option disabled selected value="">Select</option>
                    {% for lab in labs %}
                        <option>{{ lab[3] }}</option>
                    {% endfor %}
                </select>
            </div>

        </div>
        <button>Save Info</button>
        </form>

    {% endblock %}