<!DOCTYPE html>
<html lang="en">
<head>
    <title>search</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <ul class="navbar">
        <!-- <li><a href="/homepage">Home</a></li> -->
        <li><a href="/profile">Profile</a></li>
        <li><a href="/search">Search</a></li>
    </ul> 
    <div class="title">
    <h2>Search for Open Trials</h2>
    </div>
    <div class="center">
    <form id="searchForm" action="something" method="get">
        <input type="text" name="query" placeholder="Enter your search query">
        <button type="submit">Search</button>
    </form>
</div>

<h1>Trial Information</h1>
    
<table>
    <thead>
        <tr>
            <th>Department</th>
            <th>Description</th>
            <th>Location</th>
            <th>Min Age</th>
            <th>Max Age</th>
            <th>Sex</th>
            <th>Drink</th>
            <th>Smoke</th>
            <th>Diseases</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ specific_trial.department }}</td>
            <td>{{ specific_trial.description }}</td>
            <td>{{ specific_trial.location }}</td>
            <td>{{ specific_trial.min_age }}</td>
            <td>{{ specific_trial.max_age }}</td>
            <td>{{ specific_trial.sex }}</td>
            <td>{{ specific_trial.drink }}</td>
            <td>{{ specific_trial.smoke }}</td>
            <td>{{ specific_trial.diseases }}</td>
        </tr>
    </tbody>
</table>
<a href="{{ url_for('favorited', trial_id = specific_trial.id)}}" class="button4" style="background-color:#3f5ed4">Favorite</a>


    <!-- <script>
        fetch('navbar.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('navbar-container').innerHTML = data;
            });
    </script> -->
    
</body>
</html>