.buffer {
  margin: 350px 0;
}

.small_buff {
  margin: 30px 0;
  
}

.register-container {
  height: 95vh; 
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
  }

  .register-container-login{
    max-width: 600px;
    margin: 0 auto;
    padding-top: 100px; 
  }

  .register-container-buffer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 40px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  .form-container {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-box,
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .custom-primary {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-primary:hover {
    background-color: #0056b3;
  }

  .form-group input {
    margin-right: 20px; /* Adjust margin as needed */
}

.form-group {
  padding-top: 20px; /* Adjust margin as needed */
}


  /* DateTimeInput.css */

.dateTimeInputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.dateTimeInputRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dateTimePicker {
  width: 300px; /* Adjust the width as needed */
}

.addButton {
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
