/* Register.css */

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-title {
  font-size: 2em;
  margin-bottom: 10px; /* Decreased margin for the title */
}

.buttons-container {
  display: flex;
  flex-direction: row; /* Align buttons in a column */
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust margin to bring the buttons closer to the title */
}

.register-button {
  padding: 20px 40px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  background-color: white;
  color: black;
  font-size: 1.5em;
  margin: 10px;
  width: 500px;
  text-align: center;
}

.register-button.participant:hover {
  background-color: black;
  color: white;
  border-color: #007bff;
}

.register-button.researcher:hover {
  background-color: black;
  color: white;
  border-color: #28a745;
}
