.buffer {
  margin: 100px 0;
}

.small_buff {
  margin: 30px 0;
}

.register-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }

  .register-container-login{
    max-width: 600px;
    margin: 0 auto;
    padding-top: 100px; 
  }

  .register-container-buffer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 40px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  .form-container {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-box,
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .custom-primary {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-primary:hover {
    background-color: #0056b3;
  }
  