/* Register.css */

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh; /* Set the height of the container to viewport height*/
  box-sizing: border-box; 
}

.register-title {
  font-size: 2em;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-button {
  padding: 20px 40px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  background-color: white;
  color: black;
  font-size: 1.5em;
  margin: 10px;
  width: 500px;
  text-align: center;
}

.register-button.participant:hover {
  background-color: black;
  color: white;
  border-color: #007bff;
}

.register-button.researcher:hover {
  background-color: black;
  color: white;
  border-color: #28a745;
}
